@media (min-width: 600px){
    .seccion{
        background-color: #F55C47;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        min-height: 40rem;
        padding: 6px 0;
        text-align: center;
    }
        .cuadrado{
            width: 90%;
        }
        .circulo{
            width: 90%;
        }
        .triangulo{
            grid-column-start: 1;
            grid-column-end: 3;
            padding-left: 2rem;
            padding-right: 2rem;
            height: 19rem;
        }
            .triangulo--form{
                display: grid;
                grid-template-rows: 33% 33% auto;
                grid-template-columns: 25% 25% 25% 25%;
            }
                .triangulo--form input{
                    width: 80%;
                }
                .triangulo--form button{
                    grid-column-start: 1;
                    grid-column-end: 5; 
                    width: 95%;
                }
}
